In [ ]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

Importing the dataset

In [ ]:
train=pd.read_csv('/content/drive/MyDrive/datasets/train')
test=pd.read_csv('/content/drive/MyDrive/datasets/test')

In [ ]:
train.head()

,id,comment_text,Prediction
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,"0,0,0,0,0,0"
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,"0,0,0,0,0,0"
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...","0,0,0,0,0,0"
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...","0,0,0,0,0,0"
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...","0,0,0,0,0,0"

In [ ]:
test.head()

                 id                                       comment_text
0  00025465d4725e87  "\n\nCongratulations from me as well, use the ...
1  00031b1e95af7921  Your vandalism to the Matt Shirvington article...
2  00037261f536c51d  Sorry if the word 'nonsense' was offensive to ...
3  00054a5e18b50dd4  bbq \n\nbe a man and lets discuss it-maybe ove...
4  00078f8ce7eb276d  "\n\nJuelz Santanas Age\n\nIn 2002, Juelz Sant...

There are 6 columns in predictions columns<br>
So sepearting them using different names

In [ ]:
A1=[]
A2=[]
A3=[]
A4=[]
A5=[]
A6=[]
for i in train['Prediction']:
  splits_string=i.split(',')
  A1.append(splits_string[0])
  A2.append(splits_string[1])
  A3.append(splits_string[2])
  A4.append(splits_string[3])
  A5.append(splits_string[4])
  A6.append(splits_string[5])

Joining these list to the dataframe

In [ ]:
labels=pd.DataFrame({
    'A1':A1,
    'A2':A2,
    'A3':A3,
    'A4':A4,
    'A5':A5,
    'A6':A6
})

In [ ]:
labels.head()

  A1 A2 A3 A4 A5 A6
0  0  0  0  0  0  0
1  0  0  0  0  0  0
2  0  0  0  0  0  0
3  0  0  0  0  0  0
4  0  0  0  0  0  0

In [ ]:
print(labels.shape)
print(train.shape)

(111723, 6)
(111723, 3)

In [ ]:
train=pd.concat([train,labels],axis=1)

In [ ]:
train.head()

,id,comment_text,Prediction,A1,A2,A3,A4,A5,A6
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,"0,0,0,0,0,0",0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,"0,0,0,0,0,0",0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...","0,0,0,0,0,0",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...","0,0,0,0,0,0",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...","0,0,0,0,0,0",0,0,0,0,0,0

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111723 entries, 0 to 111722
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            111723 non-null  object
 1   comment_text  111723 non-null  object
 2   Prediction    111723 non-null  object
 3   A1            111723 non-null  object
 4   A2            111723 non-null  object
 5   A3            111723 non-null  object
 6   A4            111723 non-null  object
 7   A5            111723 non-null  object
 8   A6            111723 non-null  object
dtypes: object(9)
memory usage: 7.7+ MB

Converting to integers

In [ ]:
#converting these columns to integers 
train['A1']=train['A1'].astype(int)
train['A2']=train['A2'].astype(int)
train['A3']=train['A3'].astype(int)
train['A4']=train['A4'].astype(int)
train['A5']=train['A5'].astype(int)
train['A6']=train['A6'].astype(int)

Now droppong the predictions column

In [ ]:
train.drop('Prediction',axis=1,inplace=True)

Checking for null values if any

In [ ]:
train.isnull().sum()

id              0
comment_text    0
A1              0
A2              0
A3              0
A4              0
A5              0
A6              0
dtype: int64

In [ ]:
test.isnull().sum()

id              0
comment_text    0
dtype: int64

In [ ]:
classes = ["A1","A2","A3","A4","A5","A6"]
y = train[classes].values

No null values are there

Lowering the characters in string for further use

In [ ]:
train_comments = train["comment_text"].str.lower()
test_comments = test["comment_text"].str.lower()

In [ ]:
train_comments

0         explanation\nwhy the edits made under my usern...
1         d'aww! he matches this background colour i'm s...
2         hey man, i'm really not trying to edit war. it...
3         "\nmore\ni can't make any real suggestions on ...
4         you, sir, are my hero. any chance you remember...
                                ...
111718    "\n auto guides and the motoring press are not...
111719    "\nplease identify what part of blp applies be...
111720    catalan independentism is the social movement ...
111721    spitzer \n\numm, theres no actual article for ...
111722    and it looks like it was actually you who put ...
Name: comment_text, Length: 111723, dtype: object

Selecting top 10000 features and taking max length of 150 and embeded size as 300

In [ ]:
maximum_features = 100000
max_length_string = 150
embeded_size = 300

Now tokenizing the comments

In [ ]:
#importing tokenizer from tensorflow 
from keras.preprocessing.text import Tokenizer

In [ ]:
#making an object of tokenizer 
tokenizer = Tokenizer(maximum_features)
#fitting the tokenizer on text comments
tokenizer.fit_on_texts(list(train_comments))

Converting texts to integer sequences

In [ ]:
sequenced_train_comments = tokenizer.texts_to_sequences(train_comments)
sequenced_test_comments = tokenizer.texts_to_sequences(test_comments)

In [ ]:
#seeing the toknized the comments
train_comments[1]

"d'aww! he matches this background colour i'm seemingly stuck with. thanks.  (talk) 21:51, january 11, 2016 (utc)"

Now seeing the sequenized comments

In [ ]:
sequenced_train_comments[1]

[77445,
 52,
 2757,
 13,
 555,
 3669,
 74,
 4765,
 2738,
 21,
 93,
 37,
 780,
 2680,
 1010,
 608,
 8261,
 181]

Now we have our tokenized text

Now padding the tokenized strings

In [ ]:
from keras.preprocessing.sequence import pad_sequences

In [ ]:
pad_train_comments = pad_sequences(sequenced_train_comments, max_length_string)
pad_test_comments = pad_sequences(sequenced_test_comments, max_length_string)

In [ ]:
#funtion for getting co-effecients
def get_coeffecients(word, *arr):
  #returning arguements in form of float 32
   return word, np.asarray(arr, dtype='float32')

In [ ]:
embedding_file = '/content/drive/MyDrive/datasets/glove.6B.300d.txt'

In [ ]:
embeddings_index = dict(get_coeffecients(*o.rstrip().rsplit(' ')) for o in open(embedding_file))

In [ ]:
#getting the word indexes from the tokenizer 
word_index = tokenizer.word_index

In [ ]:
nb_words = min(maximum_features, len(word_index))
embedding_matrix = np.zeros((nb_words, embeded_size))

In [ ]:
for word, i in word_index.items():
    if i >= maximum_features:
        continue
    embedding_vector = embeddings_index.get(word)
    if embedding_vector is not None:
        embedding_matrix[i] = embedding_vector

In [ ]:
from keras.layers import RNN, GRU, LSTM, Dense, Input, Embedding, Dropout, Activation, concatenate
from keras.layers import RNN, GRU, LSTM, Dense, Input, Embedding, Dropout, Activation, concatenate
from keras.layers import Bidirectional, GlobalAveragePooling1D, GlobalMaxPooling1D
from keras.models import Model
from keras.callbacks import EarlyStopping, ModelCheckpoint
from keras import initializers, regularizers, constraints, optimizers, layers

In [ ]:
image_input = Input(shape=(max_length_string, ))
X = Embedding(maximum_features, embeded_size, weights=[embedding_matrix])(image_input)
X = Bidirectional(GRU(64, return_sequences=True, dropout=0.2, recurrent_dropout=0.2))(X)
# Dropout and R-Dropout sequence, inspired by Deep Learning with Python - Francois Chollet
avg_pl = GlobalAveragePooling1D()(X)
max_pl = GlobalMaxPooling1D()(X)
conc = concatenate([avg_pl, max_pl])
X = Dense(6, activation="sigmoid")(conc)
model = Model(inputs=image_input, outputs=X)

In [ ]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
saved_model = "weights_base.best.hdf5"
checkpoint = ModelCheckpoint(saved_model, monitor='val_acc', verbose=1, save_best_only=True, mode='max')
early = EarlyStopping(monitor="val_acc", mode="max", patience=5)
callbacks_list = [checkpoint, early]

In [ ]:
batch_sz = 32
epoch = 1
model.fit(pad_train_comments, y, batch_size=batch_sz, epochs=epoch, validation_split=0.1, callbacks=callbacks_list)

3143/3143 [==============================] - ETA: 0s - loss: 0.0490 - accuracy: 0.9304WARNING:tensorflow:Can save best model only with val_acc available, skipping.
WARNING:tensorflow:Early stopping conditioned on metric `val_acc` which is not available. Available metrics are: loss,accuracy,val_loss,val_accuracy
3143/3143 [==============================] - 3080s 980ms/step - loss: 0.0490 - accuracy: 0.9304 - val_loss: 0.0438 - val_accuracy: 0.9335

In [ ]:
test_values = model.predict(pad_test_comments, batch_size=1024, verbose=1)

47/47 [==============================] - 85s 2s/step

In [ ]:
test_values

array([[5.21063805e-04, 9.28037334e-05, 1.76221132e-04, 2.25871801e-04,
        1.64091587e-04, 1.06466694e-04],
       [7.51063228e-03, 1.74969435e-04, 1.16735697e-03, 6.53386116e-04,
        1.30131841e-03, 4.41163778e-04],
       [1.69587135e-03, 3.83363076e-05, 6.12616539e-04, 9.32629700e-05,
        4.11629677e-04, 1.15474526e-04],
       ...,
       [2.03430653e-03, 8.13951483e-05, 3.61293554e-04, 2.23606825e-04,
        6.55174255e-04, 1.42514706e-04],
       [6.62125349e-01, 3.80316377e-03, 5.32592833e-02, 2.53808796e-02,
        1.73103780e-01, 1.08129382e-02],
       [8.96275043e-03, 2.54809856e-04, 7.00324774e-04, 1.19602680e-03,
        1.35326385e-03, 4.67568636e-04]], dtype=float32)

In [ ]:
test_values=pd.DataFrame(test_values)

In [ ]:
test_values

              0         1         2         3         4         5
0      0.000521  0.000093  0.000176  0.000226  0.000164  0.000106
1      0.007511  0.000175  0.001167  0.000653  0.001301  0.000441
2      0.001696  0.000038  0.000613  0.000093  0.000412  0.000115
3      0.001595  0.000130  0.000548  0.000347  0.000587  0.000181
4      0.016093  0.000286  0.002639  0.001631  0.003613  0.001005
...         ...       ...       ...       ...       ...       ...
47843  0.010457  0.000065  0.001792  0.000200  0.001530  0.000279
47844  0.000089  0.000011  0.000066  0.000024  0.000043  0.000018
47845  0.002034  0.000081  0.000361  0.000224  0.000655  0.000143
47846  0.662125  0.003803  0.053259  0.025381  0.173104  0.010813
47847  0.008963  0.000255  0.000700  0.001196  0.001353  0.000468

[47848 rows x 6 columns]

In [ ]:
test_values=test_values.add_prefix('A')

In [ ]:
A0=[]
for i in test_values['A0']:
  if(i<0.5):
    A0.append(0)
  else:
    A0.append(1)

In [ ]:
A1=[]
for i in test_values['A1']:
  if(i<0.5):
    A1.append(0)
  else:
    A1.append(1)

In [ ]:
A2=[]
for i in test_values['A2']:
  if(i<0.5):
    A2.append(0)
  else:
    A2.append(1)

In [ ]:
A3=[]
for i in test_values['A3']:
  if(i<0.5):
    A3.append(0)
  else:
    A3.append(1)

In [ ]:
A4=[]
for i in test_values['A4']:
  if(i<0.5):
    A4.append(0)
  else:
    A4.append(1)

In [ ]:
A5=[]
for i in test_values['A5']:
  if(i<0.5):
    A5.append(0)
  else:
    A5.append(1)

In [ ]:
test_results=pd.DataFrame(list(zip(A0,A1,A2,A3,A4,A5)),columns=['A0','A1','A2','A3','A4','A5'])

In [ ]:
test_results

       A0  A1  A2  A3  A4  A5
0       0   0   0   0   0   0
1       0   0   0   0   0   0
2       0   0   0   0   0   0
3       0   0   0   0   0   0
4       0   0   0   0   0   0
...    ..  ..  ..  ..  ..  ..
47843   0   0   0   0   0   0
47844   0   0   0   0   0   0
47845   0   0   0   0   0   0
47846   1   0   0   0   0   0
47847   0   0   0   0   0   0

[47848 rows x 6 columns]

In [ ]:
combined_results=[]
for i in range(47848):
  combined_results.append("{},{},{},{},{},{}".format(test_results["A0"][i],test_results["A1"][i],test_results["A2"][i],test_results["A3"][i],test_results["A4"][i],test_results["A5"][i]))

In [ ]:
test_values['preds']=combined_results

In [ ]:
#dropping the reamining columns 
test_values=test_values[['preds']]

In [ ]:
test_values

             preds
0      0,0,0,0,0,0
1      0,0,0,0,0,0
2      0,0,0,0,0,0
3      0,0,0,0,0,0
4      0,0,0,0,0,0
...            ...
47843  0,0,0,0,0,0
47844  0,0,0,0,0,0
47845  0,0,0,0,0,0
47846  1,0,0,0,0,0
47847  0,0,0,0,0,0

[47848 rows x 1 columns]

In [ ]:
test_values.to_csv('preds_1.csv',index_label='ID', header=['Prediction'])